<launch>
<!-- # Exercise 5.2 RE-DO ====================================== -->
  <include file="$(find unit_5_pkg)/src/launch/start_bb8_move_in_circle_service_server.launch" />
  <node pkg="unit_5_pkg"
        type="bb8_move_in_circle_service_client.py " 
        name="service_client"   
        output="screen">
  </node>
</launch>
<!-- DOES NOT WORK!!!!! -->

<!-- <node name Must equal the same as rospy.init_node('service_client') ???? -->

<!-- Cannot locate node of type unit_5_pkg/bb8_move_in_circle_service_client.py  -->